@import 'base/variables';
@import 'components/globales';
@import 'components/header';
@import 'components/menu';
@import 'components/main';
@import 'components/inicio';
@import 'components/clases';
@import 'components/equipos';
@import 'components/quienessomos';
@import 'components/contacto';
@import 'components/footer';