/* Sección Clases */
#clases {
    height: 100vh;
    display: inline;
    align-content: center;
    margin: 0.25rem 0;

    .clase-1,
    .clase-2,
    .clase-3,
    .clase-4 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 13.525em;
        color: white;
        text-shadow: rgba(0, 0, 0, 0.71) 2px 2px 5px;
        margin: 0.4em 0em;
        overflow: hidden;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.25);
        background-blend-mode: overlay;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;

        h2 {
            color: $verde;
            font-size: 3.75em;

            @include mqs(sm1, sm2) {
                color: $verde;
                font-size: 1.75em;
            }

            @include mqs(4k1, 4k2) {
                font-size: 7.75em;
            }
        }

        h3 {
            font-size: 1.563em;

            @include mqs(sm1, sm2) {
                font-size: 1.263em;
            }

            @include mqs(4k1, 4k2) {
                font-size: 2.263em;
            }
        }

        h4 {
            font-size: 1.125em;

            @include mqs(sm1, sm2) {
                font-size: 0.925em;
            }

            @include mqs(4k1, 4k2) {
                font-size: 1.925em;
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.02);
        }

        @include mqs(sm1, sm2) {
            background-color: none;
            background-blend-mode: normal;
        }

        @include mqs(mm1, mm2) {
            background-color: none;
            background-blend-mode: normal;
        }

        @include mqs(tab1, tab2) {
            background-color: none;
            background-blend-mode: normal;
        }

        @include mqs(4k1, 4k2) {
            height: 25.675em;
        }

        @include mqs(sm1, mm2) {
            text-shadow: rgba(0, 0, 0, 1) 1px 1px 6px;
        }
    }

    .clase-1 {
        justify-content: start;
        background-image: url("/src/images/box.webp");

        @include mqs(sm1, sm2) {
            background-image: url('/src/images/mobile/box.jpg');
            justify-content: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 25%);
            background-blend-mode: color;
        }

        @include mqs(mm1, mm2) {
            background-image: url('/src/images/mobile/box.jpg');
            justify-content: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 25%);
            background-blend-mode: color;
        }

        @include mqs(tab1, tab2) {
            background-image: url("/src/images/mobile/box.jpg");
        }
    }

    .clase-2 {
        justify-content: end;
        background-image: url("../src/images/funcional.webp");
        text-align: right;
        background-position-y: 36%;

        @include mqs(sm1, sm2) {
            background-image: url('../src/images/mobile/funcional.jpg');
            justify-content: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 25%);
            background-blend-mode: color;
        }

        @include mqs(mm1, mm2) {
            background-image: url('./src/images/mobile/funcional.jpg');
            justify-content: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 25%);
            background-blend-mode: color;
        }

        @include mqs(4k1, 4k2) {
            background-image: url('./src/images/mobile/funcional.jpg');
        }
    }

    .clase-3 {
        justify-content: start;
        background-image: url("./src/images/gap.webp");

        @include mqs(sm1, sm2) {
            background-image: url('./src/images/mobile/gap.jpg');
            justify-content: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 25%);
            background-blend-mode: color;
        }

        @include mqs(mm1, mm2) {
            background-image: url('./src/images/mobile/gap.jpg');
            justify-content: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 25%);
            background-blend-mode: color;
        }

        @include mqs(tab1, tab2) {
            background-image: url('./src/images/mobile/gap.jpg');
        }
    }

    .clase-4 {
        justify-content: end;
        background-image: url("./src/images/latino.webp");
        text-align: right;
        background-position-y: 16%;

        @include mqs(sm1, sm2) {
            background-image: url('./src/images/mobile/latino.jpg');
            justify-content: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 25%);
            background-blend-mode: color;
        }

        @include mqs(mm1, mm2) {
            background-image: url('./src/images/mobile/latino.jpg');
            justify-content: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 25%);
            background-blend-mode: color;
        }

        @include mqs(tab1, tab2) {
            background-image: url('./src/images/mobile/latino.jpg');
        }


    }

    @include mqs(4k1, 4k2) {
        height: 100vh;
    }
}