/* Contacto */

main {
    #contacto {
        color: white;
        text-align: center;

        .titulo-contacto {
            font-size: 2em;

            @include mqs(sm1, sm2) {
                font-size: 1em;
            }

            @include mqs(mm1, mm2) {
                font-size: 1.5em;
            }

            @include mqs(4k1, 4k2) {
                font-size: 4.5em;
            }
        }

        p {
            font-size: 1em;
            padding: 0.5em 0;

            @include mqs(sm1, sm2) {
                font-size: 0.7em;
                padding: 0.4em 1.5em;
            }

            @include mqs(mm1, mm2) {
                font-size: 0.7em;
                padding: 0.5em 1.5em;
            }

            @include mqs(tab1, tab2) {
                padding: 0.5em 1.5em;
            }

            @include mqs(4k1, 4k2) {
                font-size: 2.2em;
                padding: 0.5em 1.5em;
            }
        }

        img {
            width: 21.625em;
            padding: 1.5rem 0 1rem 0;

            @include mqs(sm1, sm2) {
                width: 11.625em;
                padding: 1.5rem 0;
            }

            @include mqs(mm1, mm2) {
                width: 15.625em;
                padding: 1.5rem 0;
            }

            @include mqs(tab1, tab2) {
                width: 16.625em;
                padding: 1.5rem 0;
            }

            @include mqs(4k1, 4k2) {
                width: 50.625em;
                padding: 2.5rem 0;
            }
        }
    }
}

/* Formulario */
.contact_form {
    width: auto;
    height: auto;
    padding: 1em 0;

    ul {
        li {
            list-style: none;

            #suscribe {
                width: 1rem;
                margin: 0 0.4rem 0 0;

                @include mqs(4k1, 4k2) {
                    width: 2rem;
                }
            }

            label {
                display: block;
                float: center;

                &:last-child {
                    font-size: 0.8em;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mqs(sm1, sm2) {
                        font-size: 0.6em;
                    }

                    @include mqs(4k1, 4k2) {
                        font-size: 2.0em;
                    }
                }

                @include mqs(sm1, sm2) {
                    font-size: 0.8em;
                }

                @include mqs(4k1, 4k2) {
                    font-size: 3.2em;
                    padding: 0.5rem 0;
                }
            }

            input {
                background-color: #e2e2e2;
                width: 41.5%;
                height: 40px;
                border-radius: 5px;
                border-style: solid;
                border-width: 2px;
                border-color: $verde;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
                transition: background-color 0.5s;

                &:focus {
                    border: 4px solid $verde;
                    background-color: white;
                }

                @include mqs(sm1, sm2) {
                    height: 27px;
                    width: 65%;
                }

                @include mqs(mm1, mm2) {
                    width: 65%;
                }

                @include mqs(tab1, tab2) {
                    width: 55%;
                }

                @include mqs(4k1, 4k2) {
                    height: 4.5rem;
                    width: 54%;
                    font-size: 1.8em;
                }
            }

            textarea {
                background-color: #e2e2e2;
                width: 41.5%;
                height: 150px;
                border-radius: 5px;
                border-style: solid;
                border-width: 2px;
                border-color: $verde;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
                padding-top: 15px;

                &:focus {
                    border: 4px solid $verde;
                    background-color: white;
                }

                @include mqs(sm1, sm2) {
                    width: 65%;
                }

                @include mqs(mm1, mm2) {
                    width: 65%;
                }

                @include mqs(tab1, tab2) {
                    width: 55%;
                }

                @include mqs(4k1, 4k2) {
                    height: 19rem;
                    width: 54%;
                    font-size: 1.8em;
                }
            }

            button {
                height: 45px;
                padding: 0 5px;
                margin: 10px 0;
                text-transform: uppercase;
                background-color: $verde;
                border-color: $verde;
                border-style: solid;
                border-radius: 10px;
                width: 33%;
                cursor: pointer;
                color: white;
                font-weight: bold;
                transition: all 0.2s;

                &:hover {
                    background-color: white;
                    color: $verde;
                    border-color: $verde;
                }

                @include mqs(sm1, sm2) {
                    height: 35px;
                }

                @include mqs(4k1, 4k2) {
                    height: 80px;
                    width: 15%;
                    font-size: 1.88em;
                    margin: 1em 0;
                }
            }
        }
    }
}