// Clases Globales

* {
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: $asap;
  font-weight: 100;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(243, 243, 243, 0.533);
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
  }
}

/* Clases Generales */

.margen {
  background-color: $gris2;
  padding: 0%;
}

.margen-clases {
  display: grid;
  align-content: center;
  background: linear-gradient(90deg, #020024 0%, rgba(0, 0, 0, 0) 100%);
  padding-left: 3.216em;
  padding-right: 3.216em;
  height: 100%;

  @include mqs(sm1, sm2) {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.1) 100%);
  }

  @include mqs(mm1, mm2) {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.1) 100%);
  }
}

.margen-clasesb {
  display: grid;
  align-content: center;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, black 100%);
  padding-left: 3.216em;
  padding-right: 3.216em;
  height: 100%;

  @include mqs(sm1, sm2) {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.1) 100%);
  }

  @include mqs(mm1, mm2) {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.1) 100%);
  }
}

.arriba {
  position: fixed;
  right: 0.938em;
  bottom: 0.313em;

  a {
    transition: all 0.2s;

    &:link,
    &:visited {
      fill: $verde;
    }

    &:link:hover,
    &:visited:hover {
      fill: white;
    }
  }

  @include mqs(sm1, sm2) {
    display: none;
  }

  @include mqs(mm1, mm2) {
    display: none;
  }
}

h2 {
  font-weight: 100;
}

h3 {
  font-weight: 100;
}

h4 {
  font-weight: 100;
}

/* Marquee */

.marquee {
  display: none;
  z-index: 1;

  @include mqs(sm1, sm2) {
    display: block;
    position: fixed;
    bottom: 1em;
    width: max-content;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 0.70em;
    padding: 0.4em 0;

    p {
      width: 250%;
      animation: marqueemov 30s linear .0s infinite;
      -webkit-animation: marqueemov 30s linear .0s infinite;
    }

    @keyframes marqueemov {
      0% {
        color: black;
        margin: 0 100%;
      }

      1% {
        color: white;
      }

      95% {
        color: white;
        margin: 0 -250%;
      }

      97% {
        color: black;
        margin: 0 -250%;

      }

      97.1% {
        color: black;
        margin: 0 100%;
      }

      100% {
        color: black;
        margin: 0 100%;
      }

    }


  }

  @include mqs(mm1, mm2) {
    display: block;
    position: fixed;
    bottom: 1em;
    width: max-content;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 0.85em;
    padding: 0.4em 0;

    p {
      width: 200%;
      animation: marqueemov 30s linear .0s infinite;
      -webkit-animation: marqueemov 30s linear .0s infinite;
    }

    @keyframes marqueemov {
      0% {
        color: black;
        margin: 0 100%;
      }

      1% {
        color: white;
      }

      95% {
        color: white;
        margin: 0 -150%;
      }

      97% {
        color: black;
        margin: 0 -150%;
      }

      97.1% {
        color: black;
        margin: 0 100%;
      }

      100% {
        color: black;
        margin: 0 100%;
      }
    }
  }

}