/* Sección Inicio */
main {
    #inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("/src/images/FondoInicio.jpg") center no-repeat;
        background-size: cover;
        width: auto;
        height: 84vh;
        margin-bottom: 1rem;

        .promos {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 70vh;
            width: 100%;
            animation: promos-inicio 30s ease 0.1s infinite;
            -webkit-animation: promos-inicio 30s ease 0.1s infinite;
        }

        @keyframes promos-inicio {
            0% {
                background-image: url("/src/images/Promo1.jpg");
            }

            23% {
                background-image: url("/src/images/Promo1.jpg");
            }

            25% {
                background-image: url("/src/images/promo2.jpg");
            }

            48% {
                background-image: url("/src/images/promo2.jpg");
            }

            50% {
                background-image: url("/src/images/promo3.jpg");
            }

            73% {
                background-image: url("/src/images/promo3.jpg");
            }

            75% {
                background-image: url("/src/images/promo4.jpg");
            }

            98% {
                background-image: url("/src/images/promo4.jpg");
            }

            100% {
                background-image: url("/src/images/Promo1.jpg");
            }
        }

        @media screen and (max-width: 320px) {
            background: url('/src/images/mobile/FondoInicio.jpg') center no-repeat;

            @keyframes promos-inicio {
                0% {
                    background-image: url('/src/images/mobile/Promo1.jpg');
                }

                23% {
                    background-image: url('/src/images/mobile/Promo1.jpg');
                }

                25% {
                    background-image: url('/src/images/mobile/promo2.jpg');
                }

                48% {
                    background-image: url('/src/images/mobile/promo2.jpg');
                }

                50% {
                    background-image: url('/src/images/mobile/promo3.jpg');
                }

                73% {
                    background-image: url('/src/images/mobile/promo3.jpg');
                }

                75% {
                    background-image: url('/src/images/mobile/promo4.jpg');
                }

                98% {
                    background-image: url('/src/images/mobile/promo4.jpg');
                }

                100% {
                    background-image: url('/src/images/mobile/Promo1.jpg');
                }
            }
        }

        @media screen and (min-width: 321px) and (max-width: 570px) {
            background: url('/src/images/mobile/FondoInicio.jpg') center no-repeat;

            @keyframes promos-inicio {
                0% {
                    background-image: url('/src/images/mobile/Promo1.jpg');
                }

                23% {
                    background-image: url('/src/images/mobile/Promo1.jpg');
                }

                25% {
                    background-image: url('/src/images/mobile/promo2.jpg');
                }

                48% {
                    background-image: url('/src/images/mobile/promo2.jpg');
                }

                50% {
                    background-image: url('/src/images/mobile/promo3.jpg');
                }

                73% {
                    background-image: url('/src/images/mobile/promo3.jpg');
                }

                75% {
                    background-image: url('/src/images/mobile/promo4.jpg');
                }

                98% {
                    background-image: url('/src/images/mobile/promo4.jpg');
                }

                100% {
                    background-image: url('/src/images/mobile/Promo1.jpg');
                }
            }
        }

        @media screen and (min-width: 571px) and (max-width: 960px) {
            background: url('/src/images/mobile/FondoInicio.jpg') center no-repeat;

            @keyframes promos-inicio {
                0% {
                    background-image: url('/src/images/mobile/Promo1.jpg');
                }

                23% {
                    background-image: url('/src/images/mobile/Promo1.jpg');
                }

                25% {
                    background-image: url('/src/images/mobile/promo2.jpg');
                }

                48% {
                    background-image: url('/src/images/mobile/promo2.jpg');
                }

                50% {
                    background-image: url('/src/images/mobile/promo3.jpg');
                }

                73% {
                    background-image: url('/src/images/mobile/promo3.jpg');
                }

                75% {
                    background-image: url('/src/images/mobile/promo4.jpg');
                }

                98% {
                    background-image: url('/src/images/mobile/promo4.jpg');
                }

                100% {
                    background-image: url('/src/images/mobile/Promo1.jpg');
                }
            }
        }

        @media only screen and (min-width: 2560px) {
            height: 92vh;
        }

    }
}