/* Sección Inicio */
main {
    #inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../src/images/FondoInicio.webp") center no-repeat;
        background-size: cover;
        width: auto;
        height: 84vh;
        margin-bottom: 1rem;

        .promos {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 70vh;
            width: 100%;
            animation: promos-inicio 30s ease 0.1s infinite;
            -webkit-animation: promos-inicio 30s ease 0.1s infinite;
        }

        @keyframes promos-inicio {
            0% {
                background-image: url("../src/images/Promo1.webp");
            }

            23% {
                background-image: url("../src/images/Promo1.webp");
            }

            25% {
                background-image: url("../src/images/promo2.webp");
            }

            48% {
                background-image: url("../src/images/promo2.webp");
            }

            50% {
                background-image: url("../src/images/promo3.webp");
            }

            73% {
                background-image: url("../src/images/promo3.webp");
            }

            75% {
                background-image: url("../src/images/promo4.webp");
            }

            98% {
                background-image: url("../src/images/promo4.webp");
            }

            100% {
                background-image: url("../src/images/Promo1.webp");
            }
        }

        @include mqs(4k1, 4k2) {
            height: 92vh;
        }

    }
}