/* /////////////////////////// Main /////////////////////////// */

main {
    background-color: black;
    margin-left: 8.125em;
    margin-right: 8.125em;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.8);

    @include mqs(sm1, mm2) {
        margin-left: 1em;
        margin-right: 1em;
    }

    @include mqs(tab1, tab2) {
        margin-left: 3em;
        margin-right: 3em;
    }
}