/* /////////////////////////// Main /////////////////////////// */

main {
    background-color: black;
    margin-left: 8.125em;
    margin-right: 8.125em;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.8);

    @media screen and (max-width: 320px) {
        background-color: black;
        margin-left: 1em;
        margin-right: 1em;
        box-shadow: 0 0px 14px rgba(0, 0, 0, 0.8);
    }

    @media screen and (min-width: 321px) and (max-width: 570px) {
        background-color: black;
        margin-left: 1em;
        margin-right: 1em;
        box-shadow: 0 0px 14px rgba(0, 0, 0, 0.8);
    }

    @media screen and (min-width: 571px) and (max-width: 960px) {
        background-color: black;
        margin-left: 3em;
        margin-right: 3em;
        box-shadow: 0 0px 14px rgba(0, 0, 0, 0.8);
    }
}