/* /////////////////////////// Main /////////////////////////// */

main {
    background-color: black;
    margin-left: 8.125em;
    margin-right: 8.125em;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.8);

    @include mqs(sm1, sm2) {
        background-color: black;
        margin-left: 1em;
        margin-right: 1em;
        box-shadow: 0 0px 14px rgba(0, 0, 0, 0.8);
    }

    @include mqs(mm1, mm2) {
        background-color: black;
        margin-left: 1em;
        margin-right: 1em;
        box-shadow: 0 0px 14px rgba(0, 0, 0, 0.8);
    }

    @include mqs(tab1, tab2) {
        background-color: black;
        margin-left: 3em;
        margin-right: 3em;
        box-shadow: 0 0px 14px rgba(0, 0, 0, 0.8);
    }
}