/* Menu */

nav {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 87, 22, 0.15);
    position: sticky;
    top: 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.31);
    z-index: 2;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $verde;
        width: 100%;
        height: 2em;

        li {
            list-style-type: none;
            text-transform: uppercase;

            .new {
                background: black;
                color: $verde;
                padding: 0.1rem 0.5rem;
                margin: auto 0.3rem;
                font-size: 0.7em;
                display: inline-block;
                vertical-align: text-bottom;
                border-radius: 16px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                -ms-border-radius: 16px;
                -o-border-radius: 16px;


                @media screen and (max-width: 320px) {
                    display: none;
                }

                @media only screen and (min-width: 2560px) {
                    vertical-align: super;
                    font-size: 1em;
                }
            }

            a {
                transition: all 0.2s ease;


                &:link,
                &:visited {
                    color: black;
                    text-decoration-line: none;
                }

                &:link:hover,
                &:visited:hover {
                    color: white;
                    text-decoration-line: none;
                    font-size: 1.1em;

                    @media screen and (max-width: 320px) {
                        font-size: 1.1em;
                    }

                    @media screen and (min-width: 321px) and (max-width: 570px) {
                        font-size: 1.25em;
                    }
                }




                @media only screen and (min-width: 2560px) {
                    font-size: 2em;
                }
            }



            @media screen and (max-width: 320px) {
                font-size: 0.6em;
            }

            @media screen and (min-width: 321px) and (max-width: 570px) {
                font-size: 0.6em;
            }


        }

        @media screen and (max-width: 320px) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $verde;
            width: 100%;
            height: 1em;
        }

        @media screen and (min-width: 321px) and (max-width: 570px) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $verde;
            width: 100%;
            height: 1.2em;
        }

        @media screen and (min-width: 2560px) {
            height: 3.5em;
        }

    }


}