/* Quienes somos */
#quienessomos {
    padding-top: 3em;
    text-align: center;
    height: 100%;
    width: 100%;

    .profes-container {
        display: grid;
        justify-items: center;

        h2 {
            color: white;
            font-size: 7rem;
            font-family: $bigshoulders;
            text-shadow: 0px 2px 9px black;
            position: absolute;
            display: flex;
            align-self: center;
            justify-content: center;
            width: 100%;
            padding: 38% 8%;
            -webkit-text-stroke: 2px $verde;
            transition: all 2s;
            -webkit-transition: all 2s;
            -moz-transition: all 2s;
            -ms-transition: all 2s;
            -o-transition: all 2s;

            &:hover {
                color: $verde;
                -webkit-text-stroke: 2px black;
                opacity: 1;
                z-index: 0;
                background-color: rgba(0, 0, 0, 80%);
            }

            @include mqs(sm1, sm2) {
                font-size: 2rem;
                -webkit-text-stroke: 1px $verde;
                text-shadow: 2px 3px 4px black;
            }

            @include mqs(mm1, mm2) {
                font-size: 3rem;
                -webkit-text-stroke: 1px var(--verde);
                text-shadow: 2px 3px 4px black;
            }

            @include mqs(4k1, 4k2) {
                font-size: 6em;
                padding: 0.5em 0;
            }
        }

        .profes {
            width: 96%;
            height: 82%;
            display: grid;
            gap: 1rem;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            justify-items: center;

            .profe {
                width: 100%;
                background-color: black;
                background-blend-mode: luminosity;
                background-size: cover;
                background-position: center;
                transition: all 0.5s;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;

                .panel-bio {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    height: 100%;
                    top: 0%;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    border-radius: 9px;
                    box-shadow: 6px ​6px 22px 1px rgba(0, 0, 0, 0.71);
                    padding: 0%;
                    opacity: 0;
                    z-index: 0;
                    transition: all 0.6s ease-in;
                    -webkit-transition: all 0.6s ease-in;
                    -moz-transition: all 0.6s ease-in;
                    -ms-transition: all 0.6s ease-in;
                    -o-transition: all 0.6s ease-in;

                    &:hover {
                        opacity: 1;
                        box-shadow: 8px 9px 15px rgba(0, 0, 0, 0.6);
                    }

                    &:active {
                        transition: all 1s;
                        -webkit-transition: all 1s;
                        -moz-transition: all 1s;
                        -ms-transition: all 1s;
                        -o-transition: all 1s;
                    }

                    &:active::before {
                        content: "";
                        background-color: rgba(0, 0, 0, 0.829);
                        position: fixed;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        left: 0%;
                        top: 0%;
                        z-index: -1;
                    }

                    @include mqs(4k1, 4k2) {
                        top: 60%;
                        width: 75%;
                    }

                    .prof-imgs {
                        display: flex;
                        align-content: center;
                    }

                    .bio {
                        position: absolute;
                        width: 100%;
                        background: rgba(0, 0, 0, 45%);
                        bottom: 0;
                        padding: 0.5rem 0;

                        .links {
                            letter-spacing: 1.0em;
                            line-height: 2em;

                            a {
                                svg {
                                    transform: scale(1.5);
                                    -webkit-transform: scale(1.5);
                                    -moz-transform: scale(1.5);
                                    -ms-transform: scale(1.5);
                                    -o-transform: scale(1.5);

                                    @include mqs(sm1, mm2) {
                                        transform: scale(0.8);
                                        -webkit-transform: scale(0.8);
                                        -moz-transform: scale(0.8);
                                        -ms-transform: scale(0.8);
                                        -o-transform: scale(0.8);
                                    }

                                    @include mqs(tab1, tab2) {
                                        transform: scale(1);
                                        -webkit-transform: scale(1);
                                        -moz-transform: scale(1);
                                        -ms-transform: scale(1);
                                        -o-transform: scale(1);
                                    }

                                    @include mqs(4k1, 4k2) {
                                        transform: scale(2);
                                        -webkit-transform: scale(2);
                                        -moz-transform: scale(2);
                                        -ms-transform: scale(2);
                                        -o-transform: scale(2);
                                    }
                                }
                            }

                            @include mqs(sm1, sm2) {
                                line-height: 0.5em;
                                letter-spacing: 0.1em;
                            }

                            @include mqs(mm1, mm2) {
                                letter-spacing: 0.25em;
                                line-height: 1em;
                            }

                            @include mqs(tab1, tab2) {
                                letter-spacing: 0.25em;
                            }

                            @include mqs(4k1, 4k2) {
                                letter-spacing: 1.7em;
                            }
                        }

                        div {
                            h3 {
                                color: $verde;

                                @include mqs(sm1, mm2) {
                                    font-size: 0.8em;
                                }

                                @include mqs(4k1, 4k2) {
                                    font-size: 2.5em;
                                }
                            }

                            p {
                                color: white;
                                padding: 1em 0.5emg;

                                @include mqs(sm1, mm2) {
                                    font-size: 0.6em;
                                }

                                @include mqs(4k1, 4k2) {
                                    font-size: 2em;
                                }
                            }
                        }

                        a {
                            svg {
                                fill: $verde;
                            }
                        }
                    }

                }

                .biodown {
                    top: 0;
                    bottom: -1%;
                }

                &:hover {
                    background-color: white;
                }
            }





            .profe1 {
                background-image: url("/Myfit-Machicado/src/images/A.webp");
            }

            .profe2 {
                background-image: url("/Myfit-Machicado/src/images/B.jpg");
                background-size: auto;
                background-position-y: 77rem;

                @include mqs(sm1, sm2) {
                    background-image: url('/Myfit-Machicado/src/images/mobile/B.jpg');
                }

                @include mqs(mm1, mm2) {
                    background-image: url('/Myfit-Machicado/src/images/mobile/B.jpg');
                }

                @include mqs(tab1, tab2) {
                    background-image: url('/Myfit-Machicado/src/images/mobile/B.jpg');
                }
            }

            .profe3 {
                background-image: url("/Myfit-Machicado/src/images/C.webp");
                background-position-y: inherit;
            }

            .profe4 {
                background-image: url("/Myfit-Machicado/src/images/D.webp");
                background-position-y: inherit;
            }

            div {
                img {
                    border-radius: 8px;
                    width: 100%;
                    object-fit: cover;
                }
            }

            @include mqs(4k1, 4k2) {
                height: 100%;
            }
        }

        @include mqs(4k1, 4k2) {
            height: 100%;
        }

    }

    @include mqs(sm1, sm2) {
        padding-top: 2em;
    }

    @include mqs(mm1, mm2) {
        padding-top: 1.8em;
    }

    @include mqs(4k1, 4k2) {
        padding-top: 1.8em;
        height: 100vh;
    }
}