@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


// Variables

// Colores

$verde: #70D70C;
$verdetrans: rgba(114, 215, 12, 0.93);
$gris1: #BABABA;
$gris2: #3D3D3D;

// Fuentes

$asap: 'Asap Condensed',
sans-serif;
$bigshoulders: 'Big Shoulders Text',
cursive;
$poppins: 'Poppins',
sans-serif;